.vscode/settings.json
out/rom_head.bin
out/rom_head.o
out/rom.bin
out/rom.out
out/sega.o
out/symbol.txt
out/res/resources.d
out/res/resources.o
out/src/main.d
out/src/main.o
out/src/sap.d
out/src/sap.o
